<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Applan</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <% if logged_in? %>
      <nav class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/logout">Log out</a>
        <a href="/plans/new">Create a New Plan</a>
        <a href="/plans">All Plans</a>
      </nav>
      <% else %>
         <nav class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/signup">Sign up </a>
          <a href="/login">Log in </a>
        </nav>
      <% end %>
        <br>
        <br>
        
        <% flash.each do |type,message|%>
          <% if type.to_s == "error"%>
            <div id="error"><%= message %></div>
        <% end %>
        <% end %>
        <br>
        <br>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Applan</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
