<div class="container">
  <%# <header><img src="images/corneal-small.png" class="img-responsive main-image"></header> %>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Applan!</h2>

    <div class="content">
      <p> New users please <a href="/signup">Sign up!</a>
      <p> Returning Users please <a href="/login">Log in! </a>
    </div>

  </div>
</div>
