Fill out the form to create your lesson plan:<br>
<form method="POST" action="/plans"><br>
    <p>Lesson Title:<br><textarea name="objective" rows="2" cols="40"></textarea></p>
    <p>Lesson Objective(s):<br><textarea name="objective" rows="5" cols="100"></textarea></p>
    <p>Lesson Standard(s):<br><textarea name="standard" rows="5" cols="100"></textarea></p>
    <p>Lesson Description:<br><textarea name="description" rows="5" cols="100"></textarea></p>
    <p>Vocabulary:<br><textarea name="vocabulary" rows="5" cols="100"></textarea></p>
    <p><input type="submit" value="Submit The Plan" rows="5" cols="100"></textarea></p>
</form>
